{{- define "main" }}
<article class="content">
{{ .Content }}
{{- range .Site.RegularPages.GroupBy "Section" }}
{{- $pages := where .Pages "Params.hidden" "!=" "true" }}
{{- if not $pages -}}{{- continue -}}{{- end }}
{{- with site.GetPage "section" .Key }}
<h3 class="list-caption"><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></h3>
{{- with .Params.description }}
<p>{{ . }}</p>
{{- else }}
{{ .Content }}
{{- end }}
{{- end }}
<nav class="posts">
{{- range $pages }}
<a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
{{- end }}
</nav>
{{- end }}
</article>
{{- end }}