{{- $href := .Destination | safeURL -}}
{{- $parsed := urls.Parse .Destination -}}
{{- $text := .Text | replaceRE `https?://(www\.)?` "" | safeHTML -}}
{{- if eq $parsed.Host "doi.org" -}}{{ $text = slicestr $parsed.Path 1 }}{{- end -}}
{{- $external := hasPrefix ($href | relURL) "http" -}}
{{- if eq $parsed.Scheme "mailto" -}}
{{- $address := $parsed.Opaque | base64Encode -}}
{{- $text := cond (eq $text $parsed.Opaque) "" $text | safeHTML -}}
<a href="mailto:" data-mailto="{{ $address }}">{{ $text }}</a>
{{- else -}}
<a href="{{ $href }}"
  {{- with .Title }} title="{{ . }}"{{ end -}}
  {{- if $external }} target="_blank"{{ end -}}
>{{ $text }}</a>
{{- end -}}